.projectCardRoot {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.coverImage {
  height: 350px;
  width: auto;
  @media only screen and (max-width: 1000px) {
    width: 100%;
    height: auto;
  }
}

.projectTitle {
  margin: 8px 0;
}
