.scrollContainer {
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  @media only screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column;
  }
}

.projectImage {
  padding: 10px;
  max-height: 625px;
  object-fit: contain;
  @media only screen and (max-width: 1000px) {
    padding: 10px 0;
    max-height: 100%;
  }
}
