.listTitle {
  font-size: 18px;
}

.list {
  list-style-type: none;
  @media only screen and (max-width: 600px) {
    padding: 0;
  }

  li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
}

.date {
  display: block;
  font-weight: 700;
  width: 120px;
}

.text {
  padding-left: 10px;
  width: 100%;
}
