.carouselModalRoot {
  height: 99.9vh;
  width: 99.9vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #dedede;
  z-index: 3;
  overflow: hidden;
}

.carouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.carouselImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselHeader {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
}

.carousel {
  height: calc(100% - 50px);
}

.carouselImage {
  max-width: calc(100vw - 100px);
  max-height: calc(100vh - 100px);
  object-fit: contain;
}
